body {
  background-image: linear-gradient(to right, #ebf8f8, #99d5f1);
}
.app {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  color: #1031ec;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 35px;
  margin: 50px;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input{
    width: 100%;
    margin-top: 10px;
  } 
  .search-bar button {
    width: 50%;
    margin-top: 10px;
  }

  .movie-card {
    width: 100%;
    margin: 10px 0;
  }
}
